@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap');
.carousel-item img {
    width: 100%;
    height: 90vh;
}

.login-btn-nav {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.eye {
    position: absolute;
    margin-top: 20px;
    padding-left: 5px;
}

#hide1 {
    display: none;
}

.login-btn-nav:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.678), 0 3px 10px 0 rgba(255, 255, 255, 0.596);
}

.logout-btn-nav {
    width: 100px;
    height: 45px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #e70e0e, #a10c0c);
    transition: 0.5s;
}

.logout-btn-nav:hover {
    box-shadow: 0 2px 4px 0 rgba(241, 204, 204, 0.678), 0 3px 10px 0 rgba(255, 80, 80, 0.596);
}

.back-btn {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #9f01ea, #56d8e4);
    transition: 0.5s;
}

.back-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.678), 0 3px 10px 0 rgba(255, 255, 255, 0.596);
}

.gallery {
    background-color: #ffffff5e;
    height: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.gallery .title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.card-img-top {
    height: 300px;
}

.home-content {
    background: #e7e7e75e;
    height: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.home-content .title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.home-btn {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.home-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.678), 0 3px 10px 0 rgb(0, 0, 0);
}

.footer {
    background: rgb(66, 66, 66);
    height: 100%;
    color: white;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 5px;
}

.footer-img {
    width: 200px;
    height: 150px;
    border: none;
    border-radius: 15px;
}

.footer th {
    padding-left: 150px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.footer td {
    vertical-align: top;
    text-align: left;
    padding-left: 150px;
    font-family: 'Roboto Flex', sans-serif;
}

.footer td a {
    text-decoration: none;
    font-size: 120%;
    color: white;
}

.footer td a:hover {
    color: rgb(187, 187, 187);
}

.footer p a {
    color: white;
}

.footer1 {
    background: rgb(66, 66, 66);
    height: 50px;
    color: white;
    padding-top: 5px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 5px;
}

.footer1 p a {
    color: white;
}

.course {
    background: #ffffff5e;
    height: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

.course .course-title {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.course .course-btn {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.course .course-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.678), 0 3px 10px 0 rgb(0, 0, 0);
}

.course .course-img {
    width: 200px;
    height: 150px;
    border: none;
    border-radius: 15px;
}

.temp-reg-content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(136, 136, 136, 0.85), rgba(0, 0, 0, 0.85)), url(../image/wp9314387-4k-technology-desktop-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
}

.temp-reg-content .content-reg {
    padding-top: 150px;
    padding-left: 575px;
}

.temp-reg-content .temp-content-box {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 50px;
    border: none;
    border-radius: 5px;
}

.temp-title {
    text-transform: uppercase;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 200%;
}

.temp-reg-content form .label {
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-bottom: 5px;
    padding-top: 8px;
}

.temp-reg-content form .input-login {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgba(37, 37, 37, 0.829);
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-radius: 5px;
}

.temp-reg-content form .select {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgba(37, 37, 37, 0.829);
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-radius: 5px;
}

.temp-reg-content p {
    padding-top: 15px;
    color: red;
}

.temp-reg-content form .pay-btn {
    width: 48%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.temp-reg-content form .pay-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.678), 0 3px 10px 0 rgb(0, 0, 0);
}

.temp-reg-content form .clear-btn {
    width: 48%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #bbbbbb, #696969);
    transition: 0.5s;
}

.temp-reg-content form .clear-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.678), 0 3px 10px 0 rgb(0, 0, 0);
}

.temp-reg-content form .input-login-cvv {
    width: 65px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgba(37, 37, 37, 0.829);
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-radius: 5px;
}

.login {
    width: 100%;
    height: 86vh;
    background-image: linear-gradient(rgba(136, 136, 136, 0.85), rgba(0, 0, 0, 0.85)), url(../image/wp9314293-4k-technology-desktop-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 150px;
}

.login-content {
    padding-top: 150px;
    padding-left: 575px;
}

.login-content .login-box {
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 50px;
    border: none;
    border-radius: 5px;
}

.login-title {
    text-transform: uppercase;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 200%;
}

.login-content .login-label {
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-bottom: 5px;
    padding-top: 8px;
}

.login-content form .login-input {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgba(37, 37, 37, 0.829);
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-radius: 5px;
}

.login-content form .login-btn {
    width: 100%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.login-content form .login-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.678), 0 3px 10px 0 rgb(0, 0, 0);
}

.admin-content {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    width: 300px;
    background-color: #1d1d1d;
    color: white;
    min-height: calc(100vh);
    padding-top: 25px;
    padding-left: 25px;
}

.sidebar .nav-bar li {
    list-style: none;
    height: 50px;
    line-height: 50px;
}

.sidebar .nav-bar li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: 'Roboto Flex', sans-serif;
}

.sidebar .nav-bar li:hover a {
    color: rgb(153, 153, 153);
    font-size: 20px;
}

.admin-panel {
    padding-top: 25px;
    padding-left: 15px;
    width: 90%;
}

.sub-row2 {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (max-width: 1400px) {
    .login-content {
        padding-top: 100px;
        padding-left: 400px;
    }
    .card-img-top {
        height: 200px;
    }
    .footer {
        background: rgb(66, 66, 66);
        height: 100%;
        color: white;
        padding-top: 25px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 2px;
    }
    .footer th {
        padding-left: 75px;
        color: white;
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
    }
    .footer td {
        vertical-align: top;
        text-align: left;
        padding-left: 75px;
        font-family: 'Roboto Flex', sans-serif;
    }
    .temp-reg-content .content-reg {
        padding-top: 75px;
        padding-left: 460px;
    }
}
